.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: gray;
  transition-duration: 0.5s;
  cursor: pointer;
  color: black;
  border: 2px solid black;
}
button:hover {
  background-color: #555555;
  color: white;
}

body{
  background-color: #555555;
}
